* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex, .made-with-love, .social-media .items-social-media, .social-media, .form-convert, main, body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-text-logo, .text-logo, header .text-logo {
  color: #fff;
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.style-span-logo, .span-logo {
  color: hsl(240deg, 90%, 70%);
  font-size: 1.2em;
  font-family: "Rubik", sans-serif;
}

.button-style, .error-container button, .btn {
  width: 8rem;
  padding-block: 0.5rem;
  margin-top: 1.5rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bolder;
  border-radius: 50rem;
  border: none;
  background-color: hsl(240deg, 90%, 70%);
  cursor: pointer;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header,
footer {
  width: 100vw;
  background: #333;
}

header .text-logo {
  padding: 3rem 0;
}

main {
  flex: 1;
  width: 100vw;
  margin-block: auto;
  background: #f3f3f3;
}

.form-convert {
  flex-direction: column;
  padding: 5rem 0;
}
.form-convert textarea {
  width: 320px;
  padding: 20px 30px;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem;
  resize: none;
  box-shadow: 2px 2px 4px #555;
}
.form-convert label {
  padding-bottom: 10px;
  color: #333;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.8px;
}

.btn {
  transition: transform 0.3s, letter-spacing 0.3s, text-shadow 0.3s, background-color 0.3s;
}
.btn:hover {
  transform: scale(1.08);
  letter-spacing: 1px;
  background-color: #7c7cf8;
  text-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.5);
}

button + button {
  margin-left: 20px;
}

.error-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 1rem;
  width: 40vw;
  padding: 1.5rem 3rem;
  border: 5px solid hsl(240deg, 90%, 70%);
}
.error-container h2 {
  font-size: 1.2rem;
}
.error-container p {
  margin-block: 2rem;
  font-size: 1rem;
}
.error-container-open {
  overflow: hidden;
}
.error-container::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.error-container::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.social-media {
  flex-direction: column;
  padding: 2.5rem 0;
}
.social-media .items-social-media {
  justify-content: space-between;
  width: 100px;
  margin-top: 0.8rem;
  font-size: 1.2rem;
}
.social-media .items-social-media a {
  color: #fff;
}

.made-with-love {
  background-color: #111;
  padding: 1rem 0;
}
.made-with-love em {
  color: #fff;
  font-size: 0.9rem;
  font-style: normal;
  font-family: sans-serif;
}
.made-with-love em .footer-love {
  color: hsl(240deg, 90%, 70%);
  font-weight: 600;
}

@media (max-width: 790px) {
  .error-container {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .error-container {
    width: 80%;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .btn {
    display: block;
    margin: 0;
  }

  button + button {
    margin-left: 0;
  }

  #submit-btn {
    margin-bottom: 0.8rem;
  }

  .form-convert {
    padding: 4rem 0;
  }
  .form-convert textarea {
    width: 100%;
  }

  header .text-logo {
    padding: 2.5rem 0;
  }

  .social-media {
    padding: 1.8rem 0;
  }

  .made-with-love em {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=main.css.map */